<div style="color: rgb(0, 0, 0); text-align: left">
  <h1 style="margin: 1rem 0">Trouble signing in?</h1>
  <p style="padding-bottom: 16px">
    We've received a request to reset the password for this account.
  </p>

  <!-- OTP Only -->
  <p style="padding-bottom: 16px">
    Use the following OTP to reset your password:
    <strong style="font-size: 24px; display: block; margin-top: 8px; letter-spacing: 2px;">
      <%= otp %>
    </strong>
  </p>

  <p style="padding-bottom: 16px">
    If you didn't ask to reset your password, you can ignore this email.
  </p>

  <p style="padding-bottom: 16px">
    Thanks<br />
  </p>
</div>
